# Livrable 15/02/2023

### Mission 1 [étude de cas]: 

1) Se renseigner sur ce qu’est un KPI et à quoi dela sert dans le domaine de la data anlyse

2) Importez les bonnes librairies et le dataset resto.csv : https://drive.google.com/file/d/1-OO5g9UYuMsTT6hyJPQSIM6g0ygbqDLV/view?usp=share_link

3) Analyser les differentes variables (columns) du dataset

4) Afficher la dimension du dataset et les statistique descriptives ?

5) Affichez toutes les colonnes du dataset sous forme d'objet list python

6) Quel est l’item le plus commandé ?

7) Combien d’items ont été commandés au total chez Chipotle

8) Combien de chiffre d’affaire à realisé la société ?

9) Quel est le revenu moyen par commande ? 

10) Formaliser une petite conclusion sous forme de rapport d'analyse dans un jupyter notebook en ajoutant si vous le voulez des graphiques ou d'autres analyses pertinentes.

### 1) Qu’est un KPI et à quoi dela sert dans le domaine de la data anlyse:

KPI=Key Performance Indicator.

En français : indicateur clé de performance. 

Les KPI sont des unités de mesure qui permet d'évaluer la capacité d'un projet.

Son but est d'identifier si les réalisations sont efficaces,de sorte que les objectifs précédemment établis soient atteints.

### 2) Importez les bonnes librairies et le dataset resto.csv :

In [1]:
#Import les bonnes librairies qu’il nous faut (pandas, seaborn, matplotlib, numpy)
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#import du dataset resto.csv
df = pd.read_csv('resto.csv')
print('dataset loaded')

dataset loaded

### 3) Analyser les differentes variables (columns) du dataset :

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4622 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

### 4) Afficher la dimension du dataset et les statistique descriptives :

In [4]:
#La dimension du dataset
df.shape

(4622, 6)

In [5]:
#Les statistiques descriptives
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

### 5) Affichez toutes les colonnes du dataset sous forme d'objet list python

In [6]:
df.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 6) Quel est l’item le plus commandé ?

In [7]:
df1=df.loc[:,['quantity', 'item_name']] #: toutes les lignes et seulement les colonnes 'quantity' et 'item_name'. 
#je voulais afficher la collone quantity et item_name

In [8]:
df1.max() #item le plus commandé 
# ou on peut aussi faire df.max()

quantity                    15
item_name    Veggie Soft Tacos
dtype: object

### 7) Combien d’items ont été commandés au total chez Chipotle

In [9]:
df2=df.loc[:,['order_id']] 
df2.count()
#df.count()

order_id    4622
dtype: int64

### 8) Combien de chiffre d’affaire à realisé la société ?

In [10]:
pv=df['item_price']  #prix de vente
qv=df['quantity'] #quantité vendues
ca=pv*qv  #chiffre d'affaire 
ca

0               $2.39
1               $3.39
2               $3.39
3               $2.39
4       $16.98 $16.98
             ...
4617           $11.75
4618           $11.75
4619           $11.25
4620            $8.75
4621            $8.75
Length: 4622, dtype: object

### 8) Combien de chiffre d’affaire à realisé la société ?

In [11]:
ca.count()

4622

### 9) Quel est le revenu moyen par commande ?

In [16]:
r=ca.count() #revenu
nbc=df2.count() #nombre de commandes
rm=ca/nbc  #revenu moyen par commande 
rm

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')