# Random Forest x IRIS

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split

### Importer le dataset IRIS

In [2]:
df= pd.read_csv('iris.csv')

### Faite un dataFrame et renommer les colonnes

In [3]:
print(len(df))
df.head()

150

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [5]:
df.columns=['sl','sw','pl','pw','s']

In [6]:
df.head()

    sl   sw   pl   pw       s
0  5.1  3.5  1.4  0.2  setosa
1  4.9  3.0  1.4  0.2  setosa
2  4.7  3.2  1.3  0.2  setosa
3  4.6  3.1  1.5  0.2  setosa
4  5.0  3.6  1.4  0.2  setosa

### Définir les variables features et la target & effectuer un split

In [7]:
#encodage
s_label_encoder =LabelEncoder()
df.s=s_label_encoder.fit_transform(df.s)
df.head()

    sl   sw   pl   pw  s
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

In [8]:
#définition des features et de la target
features = ['sl', 'sw', 'pl', 'pw']
target = ['s']
#split  fractionner dataset (train-test)
x=df[features]
y=df[target]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2) #20%test 80%train

In [9]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120, 1), (30, 1))

### Entrainer le classifieur

In [14]:
from sklearn.ensemble import RandomForestClassifier
estimator=RandomForestClassifier(random_state = 42)
estimator.fit(x_train,y_train)

C:\Users\soumm\AppData\Local\Temp\ipykernel_24148\3803382500.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(x_train,y_train)

RandomForestClassifier(random_state=42)

### Afficher l'accuracy de votre classifieurs

In [15]:
estimator.predict(x_train)

1.0

In [16]:
estimator.score(x_train,y_train)

1.0

### Analyser votre classifieur, que voyez vous ?

### Afficher les features importances

### Afficher graphiquement les features importances

### Entrainer votre classifieurs avec moins de features

### Que constatez vous ?